body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #111;
  font-family: "Trispace", sans-serif;
  background-color: #d8e2dc;
}
table {
  margin-top: 45px;
  width: 100%;
}

h2 {
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 25px;
}

.homepage-box {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-box {
  height: 455px;
  width: 200px;
  margin-top: 10px;
  margin-left: 30px;
  padding: 10px;
  /* background-image: url("../assets/space-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover; */
}

.products-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.space-list-products {
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  margin-bottom: 25px;
  background: url("../assets/stars.jpg") center/cover;
  color: whitesmoke;
  font-size: 25px;
}

p {
  text-align: center;
  margin: 5px;
}

img {
  height: 200px;
  width: 100px;
  width: 100%;
}
.stars {
  height: 200px;
}
.item-name,
.store-name {
  font-family: "Anton", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 25px;
}
.btn-box {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.btn {
  background: #4c6ca0;
  color: #ffffff;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.btn-2 {
  background: #4c6ca0;
  color: #ffffff;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

h3 {
  font-size: 20px;
}

.store-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 55px;
}
